body {
  font-family:'Open Sans', sans-serif;
}

nav {
  background-color: #033860;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.create {
  margin: 2rem 3rem;
}

.create span:last-child {
  vertical-align: center;
  text-align: center;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.form-input {
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.table-header {
  background-color: #087CA7;
  color:whitesmoke
}

.edit-btn {
  margin-right: 0.5rem;
  color:#087CA7;
  border-color: #087CA7;
}

.center {
  text-align: center;
}

.header {
  background-color: #087CA7;
  line-height: 4rem;
  color:whitesmoke
}

.two-btns {
  display: flex;
}

.container-form {
  margin: 2rem 30%;
}

.save-btn {
  background-color: #05B2DC;
  border-color: #05B2DC;
  width: 45%;
  margin-right: 10%;
}

.back-btn {
  width: 45%;
}
